# Лабораторна робота №1.

In [1]:
import pandas as pd

In [2]:
prob = pd.read_csv("prob_08.csv", header = None)
prob

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.22,0.22,0.22,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
1,0.24,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04

In [3]:
cypher = pd.read_csv("table_08.csv", header = None)
cypher

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,3,2,17,5,9,6,4,1,11,7,12,19,16,0,18,13,8,10,15,14
1,14,6,12,4,1,11,10,3,16,18,15,9,5,8,2,17,19,0,13,7
2,12,9,19,0,6,1,8,14,15,2,18,3,10,16,11,17,7,13,5,4
3,6,12,10,1,8,2,3,15,5,13,16,18,4,11,0,14,9,19,17,7
4,15,11,1,12,7,16,3,17,19,0,5,6,4,14,8,18,13,10,2,9
5,15,19,9,8,3,7,10,6,14,0,13,17,1,11,5,18,2,16,12,4
6,17,14,18,19,15,0,2,3,12,10,13,5,11,8,16,7,6,1,4,9
7,19,16,12,11,0,10,17,15,13,6,1,7,14,2,18,9,4,5,3,8
8,9,18,10,12,15,7,4,19,14,5,17,16,6,2,0,1,8,3,11,13
9,10,16,1,19,7,3,5,18,11,15,13,6,0,2,8,4,9,12,14,17
10,4,18,19,5,1,8,0,2,10,17,13,6,9,14,11,7,12,15,16,3
11,4,12,19,18,7,9,11,2,16,14,1,15,3,17,0,5,10,8,6,13
12,2,11,10,1,16,14,18,0,17,3,8,19,15,4,7,13,5,9,12,6
13,14,18,19,7,12,1,5,9,17,13,0,4,16,8,11,6,3,15,2,10
14,6,10,19,16,13,15,5,4,0,18,7,3,2,12,11,1,17,9,8,14
15,14,8,11,16,0,3,17,10,18,2,15,6,13,4,5,9,1,12,19,7
16,16,9,14,13,3,1,19,17,7,10,15,12,2,5,0,18,6,4,11,8
17,18,4,12,19,5,9,2,10,15,14,1,16,7,11,3,6,0,8,17,13
18,11,18,16,15,9,12,8,6,3,1,13,10,4,2,5,14,19,0,17,7
19,17,12,6,10,18,16,4,11,5,7,1,14,0,19,8,2,3,13,9,15